
{% extends "layout.html" %}

{% block conteudo %}
<h1 class="text-center py-5 primary-text">Books</h1>

<table border="1" class="table">
<thead>
    <tr>
    <th scope="col">Nome</th>
    <th scope="col">Número de páginas</th>
    <th scope="col">Ver</th>
    <th scope="col">Editar</th>
    <th scope="col">Excluir</th>
    </tr>
</thead>
<tbody>
    {% for book in object_list %}
    <tr>
    <td scope="row">{{ book.name }}</td>
    <td>{{ book.pages }}</td>
    <td>
        <a href="{% url "book_view" book.id %}" class="btn btn-primary">
            Detalhes
        </a>
    </td>
    <td>
        <a href="{% url "book_edit" book.id %}" class="btn btn-warning">
            Editar
        </a>
    </td>
    <td>
        <a href="{% url "book_delete" book.id %}" class="btn btn-danger">
            Excluir
        </a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "book_new" %}" class="btn btn-success mx-3">
    Novo    
</a>

{% endblock conteudo %}